/* Footer */

footer {
    background-color: transparent;
    padding: 0.5rem;
    font-size: 105%;
    text-align: center;
    a {
        color: $red-ink;
        font-weight: bold;
        text-decoration: none;
    }
}