/* Variables */

$red-ink: rgb(114, 32, 32);

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Settings */

* {
    color: $red-ink;
    font-family: ptserif-regular;
}

body {
    background-image: url(../img/brown-paper.jpg);
}

/* Fonts */

@font-face {
    font-family: "harry-potter";
    src: url(../fonts/harry-potter.ttf);
}

@font-face {
    font-family: "ptserif-regular";
    src: url(../fonts/ptserif-regular.ttf);
}

/* Animations */

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}